/* carousel_collapse.module.css */
.carouselWrapper {
  margin: 0 auto;
  width: 80%;
}

.slickSlide {
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 15px;
  height: auto;
}

.slickPrev,
.slickNext {
  z-index: 1;
  background: #ccc;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slickPrev:before,
.slickNext:before {
  opacity: 0.75;
  color: #000;
  font-size: 20px;
}

.slick-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.carouselExpanded {
  height: 50vh;
  transition: height 0.3s ease;
}

.carouselCollapsed {
  height: 30px;
  transition: height 0.3s ease;
  overflow: hidden;
}

.toggleButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  z-index: 2;
}
