* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh - 10px; 
  width: 60%; /* Set width to 60% of the viewport */
  margin: 0 auto; /* Center the wrapper horizontally */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ccc; 
	
/*  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
  margin-left: 20px; /* Space between logo and heading */
  height: 50px; /* Adjust the logo size */
}



.header h1 {
  margin: 0;
}

.carousel {
  width: 100%;
  height: 100%;
	
}


.footer {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.footer h2 {
  margin: 0 0 10px 0; 
}

.footer p {
  margin: 5px 0;
}

.carouselContainer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Carousel height set to 50% of the viewport height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to carousel container */
}


.carouselSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; /* Add padding to both sides */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.carouselImage {
  width: 100%;
  height: auto;
  max-height: 100%; /* Ensure the image fits within the carousel container */
  object-fit: contain;
  transition: transform 0.5s ease;
}

.carouselImage:hover {
  transform: scale(1.2); /* Zoom effect on hover */
}

.currentSlideIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.carouselThumbnails {
  display: flex;
  justify-content: center; /* Center the thumbnails container */
  align-items: center;
  width: 100%;
  margin: 20px 0; /* Add margin for spacing */
}

.thumbnailSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Add padding for spacing */
}

.thumbnailImage {
  width: 60px; /* Set width for thumbnails */
  height: 60px; /* Set height for thumbnails */
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnailImage:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.customNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* Add margin to separate from carousel and footer */
}

.carouselNavButton {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 20px; /* Increase font size for the arrows */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to buttons */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.carouselNavButton:hover {
  background-color: #f0f0f0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
