/* login_styles.module.css */
.rootContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Arial', sans-serif;
}

.loginContainer {
    background-color: #f7f7f7; /* Light off-white color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 15px;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submitButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b5998; /* Blue color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #4a6fa5; /* Hover color */
}
