/* MortgageCalculator.module.css */

.whole_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
/*  background-color: #f4f4f9;*/
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#heading_container {
  margin-bottom: 20px;
}

#heading_container img {
  max-width: 100%;
  height: auto;
}

.calculator-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.calculator-container label,
.calculator-container span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.calculator-container input[type="range"] {
  width: 100%;
}

.calculator-container #result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.down-payment-type {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-payment-type label,
.down-payment-type input[type="radio"] {
  margin: 0 10px;
  display: inline-block;
}

.down-payment-type label {
  font-size: 0.9em;
}

#pmiNote {
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
}

.update-values-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.update-values-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.downPaymentLabelNButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.downPaymentValue-container {
  flex-grow: 1;
}

.DP20button-container {
  width: 80px;
  margin-left: auto;
}

.slider-container {
  margin-bottom: 20px;
}

.slider-container label {
  margin-bottom: 5px;
}

canvas {
  margin-top: 20px;
}

.backbuttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.backButton {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #4a6fa5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #3b4f77;
}


